name: Build and Test
on:
    push:
        branches:
        - master
        - '**-support'
        paths-ignore:
        - LICENCE
        - README.md
        - .gitignore
        - AuthoringTool/electron.manifest.json
    pull_request:
jobs:
    build-and-test:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                dotnet-version: ['8.x']
        runs-on: ${{ matrix.os }}
        name: Build and Test on ${{ matrix.os }} with .NET Core ${{ matrix.dotnet-version }}

        steps:
            - uses: actions/checkout@v4
            - name: Setup .NET Core
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: ${{ matrix.dotnet-version }}
            - run: dotnet restore
            - run: dotnet build --configuration Debug --no-restore
            - run: dotnet test --configuration Debug --no-restore --no-build